body { 
    background-color:#1b1b1bee;
}
p {
    background-color: greenyellow;
    color:green;
    text-align:center;
}
h1 {
    background-color: green;
    color:greenyellow;
    text-align:center;
}